<connectionStrings>
 <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WebSite1-46e611fd-e773-4d76-8ebe-86d5999da5ed;AttachDbFilename=|DataDirectory|\aspnet-WebSite1-46e611fd-e773-4d76-8ebe-86d5999da5ed.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

  <!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-9AHQ7I0\SQLEXPRESS;Initial Catalog=sage500_Portal;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="PortalConnection" connectionString="Data Source=DESKTOP-9AHQ7I0\SQLEXPRESS;Initial Catalog=PortalProveedoresProd;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="PortalProveedoresEntities" connectionString="metadata=res://*/App_Code.Proveedores_Model.Proveedores_Model.csdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.ssdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9AHQ7I0\SQLEXPRESS;initial catalog=PortalProveedoresProd;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="sage500_appEntities" connectionString="metadata=res://*/App_Code.SAGE_Model.SAGE_Model.csdl|res://*/App_Code.SAGE_Model.SAGE_Model.ssdl|res://*/App_Code.SAGE_Model.SAGE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9AHQ7I0\SQLEXPRESS;initial catalog=sage500_Portal;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=sage500_Portal081122;User ID=admin;Password=" providerName="System.Data.SqlClient" />
  <add name="PortalConnection" connectionString="Data Source=.;Initial Catalog=PortalProveedoresProd_Extra;User ID=admin;Password=" providerName="System.Data.SqlClient" />
  <add name="PortalProveedoresEntities" connectionString="metadata=res://*/App_Code.Proveedores_Model.Proveedores_Model.csdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.ssdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PortalProveedoresProd_Extra;user id=admin;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="sage500_appEntities" connectionString="metadata=res://*/App_Code.SAGE_Model.SAGE_Model.csdl|res://*/App_Code.SAGE_Model.SAGE_Model.ssdl|res://*/App_Code.SAGE_Model.SAGE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sage500_Portal081122;user id=admin;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <!--
  <add name="ConnectionString" connectionString="Data Source=192.168.1.67;Initial Catalog=sage500_app;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  <add name="PortalConnection" connectionString="Data Source=192.168.1.67;Initial Catalog=PortalProveedoresProd;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  <add name="PortalProveedoresEntities" connectionString="metadata=res://*/App_Code.Proveedores_Model.Proveedores_Model.csdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.ssdl|res://*/App_Code.Proveedores_Model.Proveedores_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.67;initial catalog=PortalProveedoresProd;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="sage500_appEntities" connectionString="metadata=res://*/App_Code.SAGE_Model.SAGE_Model.csdl|res://*/App_Code.SAGE_Model.SAGE_Model.ssdl|res://*/App_Code.SAGE_Model.SAGE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.67;initial catalog=sage500_app;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->

</connectionStrings>