
#otro {
    text-align: center;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(46,60,82,0.59);
    -moz-box-shadow: 0px 0px 18px -1px rgba(46,60,82,0.59);
    box-shadow: 0px 0px 18px -1px rgba(46,60,82,0.59);
    padding-bottom :20px;
    padding-top :20px;
    margin-bottom :50px;
}
#Portada {
    background-image :url("../Img/Bl1.jpg");
    -webkit-box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
    -moz-box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
    box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
}

#Panel2 {
margin-top :30px;
}

#MP {
width:100%;
height:auto;
background-image :url("../Img/Bl1.jpg");
/*background-color :rgba(40, 57, 83, 0.98);*/
-webkit-box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
-moz-box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
box-shadow: 2px 10px 15px -8px rgba(46,60,82,1);
}

#Contenedor {
width:80%;
height:80px;
margin-left:auto;
margin-right :auto;
/*background-image :url("../Img/Bl1.jpg");*/
opacity: 0.88;
filter: alpha(opacity=20);
border-radius: 12px 12px 25px 25px;
-moz-border-radius: 12px 12px 25px 25px;
-webkit-border-radius: 12px 12px 25px 25px;
/*background-color :rgba(15, 31, 116, 0.85);*/
}

.centrarCaja {
    margin: 40px 0px 20px 0px;
    position: relative;
    margin-left: 5%;
    width: 90%;
}

#loginForm {
text-align :center;
padding-left: -15px;
padding-right :-15px;
}

.hr{
	height:2px;
	margin:40px 0 20px 0;
	background:#ADBD25;
}

.BPagos {
margin-top :40px;
color :black;
height :35px;
margin-bottom :10px;
align-content :center;
vertical-align :middle;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.Titulo {
    margin-top:30px;
    margin-bottom: 40px;
    width:100%;
    height :100%;
    min-height: 300px;
}

#M1 {
text-align :center;
margin-bottom:55px;
margin-top: 75px;
}

#RF {
text-align :right;
}
#Cam{
margin-top: 40px;
}
#Cam4{
margin-top: 40px;
}

#CTabla {
padding-top :20px;
padding-bottom:20px;
text-align:center;
align-content:center;
width :95%;
margin-top :40px;
margin-bottom :50px;
margin-left:auto;
margin-right:auto;
}
#Bts {
    margin-bottom: 40px;
}


/*#backGround {
    position :fixed;
    top:0px;
    bottom : 0px;
    left : 0px;
    right: 0px;
    overflow : hidden;
    margin :0;
    padding :0;
    background-color : #999999;
    filter :alpha(opacity =80);
    opacity : 0.80;
    z-index : 1000;
}

#Update {
    position :fixed;
    top:40%;
    bottom :40%;
    left : 40%;
    right: 40%;
    z-index : 1001;
    overflow : hidden;
    margin :0;
    padding :0;
    background-color : #999999;
    filter :alpha(opacity =50);
    opacity : 0.80;
    border: 1px solid gray;
    border:none;
    background-image :url("../Img/mail_success.gif");
    background-repeat :no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px none #000000;
}*/
