
th {
    text-align: center;
}

input.filter, select.filter {
    font-size: 10px;
    height: 30px;
    padding: 5px 10px;
    /*font-size: 12px;*/
    line-height: 1.5;
    border-radius: 3px;
}

a.buscar, a.limpiar {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#M1 {
    margin-bottom: 10px;
    margin-top: 40px;
}

.btn.default {
    color: #333333;
    text-shadow: none;
    background-color: #e5e5e5;
}

table {
    font-size: 13px;
}

td, .centrar-data {
    vertical-align: middle !important;
    text-align: center;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #d7d7d7;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #d7d7d7;
}

a.btn {
    margin-left: 2px;
}

.text_align_left {
    text-align: left;
}

.select2-selection__rendered {
    padding: 0 !important;
}

.class-logo {
    padding: 0;
    width: 60px;
    height: 60px;
}


/***
UI Loading
***/

.loading-message {
    display: inline-block;
    min-width: 125px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.loading-message span {
    line-height: 20px;
    vertical-align: middle;
}

.loading-message.loading-message-boxed {
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.page-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: -50px;
    margin-top: -30px;
    padding: 7px;
    text-align: center;
    color: #333;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.page-loading span {
    line-height: 20px;
    vertical-align: middle;
}