body {
}

form > div {
    width: 100%;
}


form > div > div {
    margin: 0 auto;
}

.error-message {
    color: rgb(255, 255, 255);
    font-family: "fakt-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}

div[onselectstart="return false"], iframe {
    display: none;
}


