*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

#Prin {
background-color:palevioletred;
width:80%;
min-height:200px;
}

.Margen{
	width:100%;
	margin:auto;
	margin-top: 30px;
	max-width:525px;
	min-height:710px;
	position:relative;
	border-radius: 18px;
    margin-top :40px;
    background-color:white;
}
.Base{
	color:#223f68;
	width:100%;
	height:78%;  
	position:absolute; 
    margin-top :90px;
    padding:55px 15% 0px 15%;
	border-radius: 18px;
	background: rgba(254, 255, 239,.1);
	box-shadow:0 0.5px 72px 0 rgba(42,62,104,.49),0 0.5px 1px 0 rgba(42,62,104,.49);
     text-align:justify;
}
.Base .VLogin,
.Base .VRegistro{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.Base .Registro:checked + .tab + .Formulario .VRegistro{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.Base .Login,
.Base .Registro,
.Formulario .Bloque .check{
	display:none;
}
.Base .tab,
.Formulario .Bloque .Etiqueta,
.Formulario .Bloque .Btn{
	text-transform:uppercase;
} 
.Base .tab{
	font-size:25px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.Base .Login:checked + .tab,
.Base .Registro:checked + .tab{
	color:#223f68;
	border-color: #FD6500;
}
.Formulario{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.Formulario .Bloque{
	margin-bottom:25px;
}
.Formulario .Bloque .Etiqueta,
.Formulario .Bloque .Caja,
.Formulario .Bloque .Btn{
	width:100%;
	color:rgba(255,255,255,.6);
	display:block;
}
.Formulario .Bloque .Caja,
.Formulario .Bloque .Btn{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.6);
    color:white;
}
.Formulario .Bloque Caja[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.Formulario .Bloque .Etiqueta{
	color:#223f68;
	font-size:13px;
}
.Formulario .Bloque .Btn{
	background: #FD6500;
}
.Formulario .Bloque label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
    margin-right: 2px;
	display:inline-block;
	background:white;
}
.Formulario .Bloque label .icon:before,
.Formulario .Bloque label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#FD6500;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.Formulario .Bloque label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.Formulario .Bloque label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.Formulario .Bloque .check:checked + label{
	color:#223f68;
}
.Formulario .Bloque .check:checked + label .icon{
	background:rgba(255,255,255,.6);
}
.Formulario .Bloque .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.Formulario .Bloque .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.Base .Login:checked + .tab + .Registro + .tab + .Formulario .VLogin{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.hr{
	height:2px;
	margin:40px 0 20px 0;
	background:#FD6500;
}
.foot-lnk{
	text-align:center;
}
#Reg{
	margin-top: 30px;
}
#Uno {
color :white;
}




