<?xml version="1.0"?>
<configuration>
  <location path="Proveedores.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Proveedor"/>
        <deny roles="Employee"/>
        <allow roles="Manager"/>
        <allow users="tsys"/>
      </authorization>
    </system.web>
  </location>
</configuration>
